p {
    margin: 0 0 .3em;
}

.error {
    color: red;
}

.cred-line + .cred-line {
    margin-top: 1em
}

.middle {
    display: table;
    width: 100%;
    height: 100%;
}

.middle-inner {
    display: table-cell;
    vertical-align: middle;
}

.login-page {
    font-family: Helvetica, Arial;
    height: 100%;
    margin: 0;
}

.login-page input[type="text"],.login-page input[type="password"] {
    color: #333;
    padding: 0.4em;
}

.login-page input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #ddd;
    color: #333;
    border: 1px solid #ccc;
    padding: .3em 2em;
}

@media (min-width: 960px) {
    .cols {
        display: table;
        width: 700px;
        margin: 0 auto;
    }
    .col {
        display: table-cell;
        vertical-align: middle;
    }

    .mobile-only {
        display: none;
    }
}

@media (max-width: 959px) {
    .desktop-only {
        display: none;
    }
}
